@import url('https://fonts.cdnfonts.com/css/youtube-sans');

                
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'YouTube Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

/*Navbar (Navbar.jsx)*/
.Navbar{
  display:flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top:0;
  background: #000;
  justify-content: space-between;
  padding: 5px;
  z-index: 1000;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.mobile_searchBar{
  position:absolute;
  left: -4000px;
  width: 100vw;
  height:100%;
  display:flex;
  background:#13130d;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 10000;
}

.mobile_searchBar.active{
  left: 0px;
}

.mobile_searchBar input{
  width: 100%;
  outline: none;
  height: 38px;
  font-size: 1.25em;
  background: rgb(60, 60, 60);
  border: 1px solid black;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 10px;
  color: whitesmoke;
  font-size:medium;
}

.signInBtn{
  background: transparent;
  border: 1px solid grey;
  border-radius: 2rem;
  color: azure;
  cursor: pointer;
}

/*Side bar (Sidebar.jsx)*/
.Sidebar_main{
  display:flex;
  overflow-y: auto;
  height: 95%;
  flex-direction: column;
  position: relative;
  border-right: 1px solid grey;
  width: 100%;
}
.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-size:smaller;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.miniProfileImg{
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


/*App.js*/
.homeContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*Feed.jsx*/
.feedContainer{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*channel page (ChannelDetail.jsx)*/
.channelProfileTemplate{
  height: 20vh;
  z-index: 10;
  background: white;
  width:100%;
  
}

.ChannelBanner{
  height: inherit;
  width:inherit;
  object-fit: cover;
}

.channelProfileCard{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  color:lightgray;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.channelProfileCard img{
  border-radius: 50%;
  object-fit: cover;
  width: 135px;
  height: auto;
}
.CardDetail{
  font-size:small;
  margin: 3px;
  font-weight: 100;
}
.tabStyle{
  color:azure;
}

.TabsInProfile{
  margin-left: 100px;
  width:fit-content;
}

/*SignIn (SignIn.jsx)*/


/*SignUp (SignUp.jsx)*/
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.signup-form .MuiTextField-root {
  border: 1px solid azure;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
  width: 50vw;
  min-width: 250px;
  color: azure;
}

.signup-form .MuiButton-root {
  margin-top: 20px;
  width: 30vw;
  min-width: 300px;
}

/*Video card (VideoCard.jsx)*/
.videoThumbnail{
  width: 25vw;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
  
  .search-bar{
    width: 200px;
  }
}

@media screen and (max-width: 768px){
  .Sidebar_main{
    height: auto;
    flex-direction: row;
    position:inherit;
    overflow-x:scroll;
    padding: 0;
  }

  .homeContainer{
    flex-direction: column;
  }

  .category-btn{
    padding: 5px 10px;
    margin: 5px 2px;
    border-radius: 20px;
  }
}



@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar{
    width: 115px;
  }

  .channelProfileCard{
    flex-direction: column;
    align-items: center;
  }

  .channelProfileCard :nth-child(2){
    align-items: center;
  }

  .TabsInProfile{
    margin: auto;
  }

  .channelProfileCard img{
    width: 75px;
  }
  
  .channelProfileTemplate{
    height: 10vh;
  }
}
